.button-hover-effect {
  background-color: rgb(234, 234, 28); 
  color: black;
  margin-top: 5px;            
  padding: 10px;       
  border: none;             
  border-radius: 20px;   
  cursor: pointer;         
  transition: background-color 0.3s ease; 
  text-align: center;
  width: 25%;              
  height: auto;            
}


/* Hover effect */
.button-hover-effect:hover {
  background-color: #fcff53; 
}

/* Slide left animation */
@keyframes slideLeft {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Slide right animation */
  @keyframes slideRight {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-left {
    animation: slideLeft 0.5s ease-in-out;
  }
  
  .slide-right {
    animation: slideRight 0.5s ease-in-out;
  }







  /* ContactForm.css */

.contact-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.header h1 {
  margin: 0;
}

nav a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.contact-form-fields input,
.contact-form-fields textarea {
  display: block;
  margin-top: 10px;
  width: calc(100% - 20px);
}

textarea {
  height: 150px;
  resize: vertical;
}

.contact-info {
  margin-top: 20px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
}

.social-icons a:hover {
  color: #4CAF50;
}

  